<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rocket Sell | Todas as campanhas</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/login/favicon.ico" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/admin/style.css">
</head>

<body>
  <div class="layer"></div>
  
  <!-- ! Body -->
  <div class="page-flex">

    <!-- ! Sidebar -->
    <%- include('../partials/sidebar-platform', {isAdmin: isAdmin}) %>

    <div class="main-wrapper">
      <!-- ! Main nav -->
      <%- include('../partials/nav-platform', {isAdmin: isAdmin, title: "Todos os campaings"}) %>
  
      <% if (campaings.length > 0) { %>
      <main class="main users chart-page" id="skip-target">
        <div class="alert" style="display: none;"></div>

        <div class="container">
          <div class="row">
            <div class="col-lg">
              <div class="users-table table-wrapper">
                  <table class="campaings-table">
                    <thead>
                      <tr class="users-table-info">
                        <th>Thumbnail</th>
                        <th>Titulo</th>
                        <th>Conteúdo</th>
                        <th>Status</th>
                        <th>Enviados</th>
                        <th>Custo</th>
                        <th>Total de contatos</th>
                        <th>Data</th>
                        <th>Ações</th>
                      </tr>
                    </thead>
                      <tbody>
                        <% campaings.forEach(function(item) { %>
                          <tr>
                            <td>
                              <div class="categories-table-img">
                                <picture><source srcset="<%= item.image %>"><img src="<%= item.image %>" alt="Imagem"></picture>
                              </div>
                            </td>
                            <td>
                              <%= item.name_campaing %>
                            </td>
                            <td>
                              <p style="width: 140px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= item.content %></p>
                            </td>
                            <% if (item.status == "process") { %>
                            <td><span style="font-weight: bold" class="badge badge-pill badge-active">Enviando</span></td>
                            <% } else { %>
                            <td><span style="font-weight: bold" class="badge badge-pill badge-success">Concluído</span></td>
                            <% } %>
                            <td><%= item.messages_send %> mensagens</td>
                            <td>
                              <%= item.credits %> créditos
                            </td>
                            <td>
                              <%= item.total_contacts %> contatos
                            </td>
                            <td>
                              <%= item.date %>
                            </td>
                            <td>
                              <button style="background-color: #bb0404 !important;" onclick="delCampaing('<%= item.id_campaing %>')" class="event">Deletar</button>
                            </td>
                          </tr>
                        <% }); %>
                      </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </main>
      <% } else { %>
        <div class="alert" style="display: none;"></div>
        <div class="empty">
          <img src="/img/admin/Bulk/messages.png" height="60" alt=""><br>
          <h2>Nenhuma campanha adicionada</h2>
          <button style="padding: 13px 50px !important; margin-top: 30px;" class="event" id="btn-open" onclick="openDiv()"><a href="/platform/new">Nova campanha</a></button>
        </div>
      <% } %>

      <!-- ! Footer -->
      <%- include('../partials/footer-platform') %>
    </div>
  </div>


<!-- Chart library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Icons library -->
<script src="js/admin/feather.min.js"></script>
<script>
    function delCampaing(id) {
      fetch("campaings/delete/" + id, {
        method: "DELETE",
      })
      .then((response) => {
        if (response.ok) {
          location.reload()
        }
      })
      .catch((err) => {
        alert.style.display = "flex";
        alert.innerHTML = "";
        const message = document.createElement("p");
        const img = document.createElement("img");
        img.src = "/img/admin/Bulk/error.png"
        img.width = "28"
        img.height = "28"
        message.classList.add("message-notify");
        message.style = "background-color: #bb1414;"
        message.innerText = "Erro ao excluir campanha";
        alert.appendChild(img);
        alert.appendChild(message);

        setTimeout(() => {
          alert.style = "animation: slideoff 2s;"
          setTimeout(() => {
            alert.style = "display: none"
          }, 800)
        }, 2000);
      })
    }
</script>
</body>
</html>