<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rocket Sell | Todos os contatos</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/login/favicon.ico" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/admin/style.css">
  <link rel="stylesheet" href="/css/platform/comments.css">
</head>

<body>
  <div class="layer"></div>
  <!-- ! Body -->
  <div class="page-flex">

    <!-- ! Sidebar -->
    <%- include('../partials/sidebar-platform', {isAdmin: isAdmin}) %>

    <div class="main-wrapper">
      <!-- ! Main nav -->
      <%- include('../partials/nav-platform', {isAdmin: isAdmin, title: "Todos os contatos"}) %>

      <div class="enable">
        <div>
          <div style="display: flex; align-items: center;">
            <img style="margin-right: 6px; height: 2vw" src="/img/admin/Bulk/livro-de-contato.png" alt="">
            <h1 class="enable-h1"></h1>
          </div>
          <p class="enable-p"></p>
          <h3>Nome da lista</h3>
          <input type="text" name="title" id="title-input" placeholder="Contatos com intesses em...">
          
          <h3>Contatos:</h3>
          <textarea type="text" name="content" id="content-input" rows="5" placeholder="Por exemplo: 

51992345678, 
51992345678, 
51992345678, 
51992345678"></textarea>
          <br>
          <button class="event" id="btn-active" style="padding: 12px 30px" onclick="addContacts()">Salvar</button>
          <button class="event" id="btn-close" style="background-color: #bb0404 !important; padding: 12px 30px;" onclick="setHide()">Fechar</button>
        </div>
      </div>
  
      <!-- ! Main -->
      <% if (contacts.length > 0) { %>
      <main class="main users chart-page" id="skip-target">
        <div class="alert" style="display: none;"></div>

        <div class="container">
          <div class="row" style="margin-top: 16px">
            <button class="event" id="btn-open" onclick="openDiv()">Adicionar contato</button>
          </div>
          
          <div class="row" style="margin-top: 16px">
            <% contacts.forEach(function(contact) { %>
              <div class="col-md-6 col-xl-3">
                <article class="stat-cards-item">
                  <div class="stat-cards-icon warning">
                    <% if (contact.image) { %>
                      <img style="height: 3rem" src="<%= contact.image %>" alt="">
                    <% } else { %>
                      <img style="height: 3rem" src="/img/admin/Bulk/grupos.png" alt="">
                    <% } %>
                  </div>
                  <div class="stat-cards-info">
                    <p class="stat-cards-info__num"><%= contact.title %></p>
                    <button class="event" id="btn-active" style="background-color: #bb040400 !important; font-size: 14px; font-weight: bold; color: #3aa326; padding: 0 !important; margin-top: 5px;" onclick="view('<%= contact.content %>')">Ver contatos</button>
                    <button class="event" id="btn-close" style="background-color: #bb040400 !important; font-size: 14px; font-weight: bold; color: #bb0404; padding: 0 !important;" onclick="delContact('<%= contact.id %>')">Excluir</button>          
                  </div>
                </article>
              </div>
            <% }) %>
          </div>

        </div>
      </main>
      <% } else { %>
        <div class="alert" style="display: none;"></div>
        <div class="empty">
          <img src="/img/admin/Bulk/livro-de-contato.png" height="60" alt=""><br>
          <h2>Nenhum contato adicionado ainda.</h2>
          <button style="padding: 13px 50px !important; margin-top: 30px;" class="event" id="btn-open" onclick="openDiv()">Adicionar</button>
        </div> 
      <% } %>

      <!-- ! Footer -->
      <%- include('../partials/footer-platform') %>
    </div>
  </div>


<!-- Chart library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Icons library -->
<script src="js/admin/feather.min.js"></script>
</body>

<script>
  const btnActive = document.querySelector('#btn-active')
  const btnOpen = document.querySelector('#btn-open')
  const btnClose = document.querySelector('#btn-close')
  const enable = document.querySelector('.enable')
  const enableH1 = document.querySelector('.enable-h1')
  const content = document.querySelector('#content-input')
  const alert = document.querySelector(".alert");
  const title = document.querySelector('#title-input')

  enable.style.display = "none"

  function openDiv() {
    enable.style.display = "flex"
    enableH1.innerHTML = "Adicionar lista de contatos"
  }

  function addContacts() {
    if (title.value.length < 1) {
      title.style = "border: 2px solid #e00d0d !important;"
      return false
    } else if (content.value.length < 1) {
      content.style = "border: 2px solid #e00d0d !important"
      return false
    } else {
      fetch("contacts/new", {
        method: "POST",
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ title: title.value, content: content.value })
      })
      .then(response => {
        if (response.ok) {
          alert.style.display = "flex";
          alert.innerHTML = "";
          const message = document.createElement("p");
          const img = document.createElement("img");
          img.src = "/img/admin/Bulk/checked.png"
          img.width = "28"
          img.height = "28"
          message.classList.add("message-notify");
          message.innerText = "Sucesso!";
          alert.appendChild(img);
          alert.appendChild(message);
          enable.style.display = "none"

          setTimeout(() => {
            alert.style.display = "none";
            location.reload()
          }, 1500);
        }
    })
    .catch(error => console.error(error));
    }
  }

  function delContact(idContact) {
    fetch("contacts/delete/" + idContact, {
      method: "DELETE",
    })
    .then((response) => {
      if (response.ok) {
        alert.style.display = "flex";
        alert.innerHTML = "";
        const message = document.createElement("p");
        const img = document.createElement("img");
        img.src = "/img/admin/Bulk/checked.png"
        img.width = "28"
        img.height = "28"
        message.classList.add("message-notify");
        message.innerText = "Contato excluido com sucesso!";
        alert.appendChild(img);
        alert.appendChild(message);
        enable.style.display = "none"

        setTimeout(() => {
          alert.style.display = "none";
          location.reload()
        }, 1500);
      }
    })
    .catch((err) => {
      alert.style.display = "flex";
      alert.innerHTML = "";
      const message = document.createElement("p");
      const img = document.createElement("img");
      img.src = "/img/admin/Bulk/checked.png"
      img.width = "28"
      img.height = "28"
      message.classList.add("message-notify");
      message.innerText = "Erro ao excluir contato";
      alert.appendChild(img);
      alert.appendChild(message);
      enable.style.display = "none"

      setTimeout(() => {
        alert.style.display = "none";
        location.reload()
      }, 1500);
    })

  }

  function setHide() {
    enable.style.display = "none"
    count = 0
  }

  $(document).ready(function(){
  });
</script>
</html>