<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rocket Sell | Reabastecer</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/login/favicon.ico" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/admin/style.css">
  <link rel="stylesheet" href="/css/platform/comments.css">
</head>

<body>
  <div class="layer"></div>
  <!-- ! Body -->
  <div class="page-flex">

    <!-- ! Sidebar -->
    <%- include('../partials/sidebar-platform', {isAdmin: isAdmin}) %>

    <div class="main-wrapper">
      <!-- ! Main nav -->
      <%- include('../partials/nav-platform', {isAdmin: isAdmin, title: "Comentários automáticos"}) %>

      <div class="enable">
        <div style="height: 300px !important;">
          <div style="display: flex; align-items: center;">
            <img style="margin-right: 6px; height: 2vw" src="/img/admin/Bulk/dolar-green.png" alt="">
            <h1 class="enable-h1">Reabastecer saldo</h1>
          </div>

          <h3>Clique no botão abaixo:</h3>
          <br>
          <br>
          <h2>Falar com <%= name_admin %></h2>
          <br>
          <a href="<%= link %>"><button class="event" style="padding: 9px 16px;">WhatsApp</button></a>
          <br>
          <br>
          <br>
          <p>Observação: Você será redirecionado ao WhatsApp.</p>
        </div>
      </div>

      <!-- ! Footer -->
      <%- include('../partials/footer-platform') %>
    </div>
  </div>


<!-- Chart library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Icons library -->
<script src="js/admin/feather.min.js"></script>
</body>

<script>
</script>
</html>