<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gera Consig | Todas as solicitações</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/login/gera.png" type="image/x-icon">
  <!-- Custom styles -->
  <link rel="stylesheet" href="/css/admin/style.css">
</head>

<body>
  <div class="layer"></div>
  
  <!-- ! Body -->
  <div class="page-flex">

    <!-- ! Sidebar -->
    <%- include('../partials/sidebar-platform', {isAdmin: isAdmin}) %>

    <div class="main-wrapper">
      <!-- ! Main nav -->
      <%- include('../partials/nav-platform', {isAdmin: isAdmin, title: "Solicitações:"}) %>
  
      <!-- ! Main -->
      <% if (pending.length > 0) { %>
      <main class="main users chart-page" id="skip-target">
        <div class="container">
          <h2>Pendentes:</h2>
          <div class="row" style="margin-top: 16px; margin-bottom: 80px;">
            <% pending.forEach(function(item) { %>
              <div class="col-md-6 col-xl-3">
                <article class="stat-cards-item">
                  <div class="stat-cards-icon warning">
                    <img style="height: 35px;" src="/img/admin/expirado.png" alt="">
                  </div>
                  <div class="stat-cards-info">
                    <p class="stat-cards-info__num"><%= item.name %></p>
                    <p class="stat-cards-info__title description-group">Data de criação: <%= item.date %></p>
                    <p class="stat-cards-info__title description-group" style="font-weight: bold; color: #e2cd0d">Status: Pendente</p>
                    <div>
                      <button style="background-color: #1e59c7 !important;" class="event-update">Info</button>
                      <button style="background-color: #1ba722 !important;" class="event-update">Conluir</button>
                      <button class="event-delete">Excluir</button>
                    </div>
                  </div>
                </article>
              </div>
            <% }) %>
          </div>

          <h2>Concluídos:</h2>
          <div class="row" style="margin-top: 16px">
            <% concluded.forEach(function(item) { %>
              <div class="col-md-6 col-xl-3">
                <article class="stat-cards-item">
                  <div class="stat-cards-icon warning">
                    <img style="height: 35px;" src="/img/admin/tick.png" alt="">
                  </div>
                  <div class="stat-cards-info">
                    <p class="stat-cards-info__num"><%= item.name %></p>
                    <p class="stat-cards-info__title description-group">Data de criação: <%= item.date %></p>
                    <p class="stat-cards-info__title description-group" style="font-weight: bold; color: #27a80d">Status: Concluído</p>
                    <div>
                      <p class="stat-cards-info__title description-group" style="font-weight: bold; color: #27a80d"><%= item.link %></p>
                    </div>
                    <div>
                      <button style="background-color: #1e59c7 !important;" class="event-update">Info</button>
                      <button style="background-color: #1ba722 !important;" class="event-update">Editar link</button>
                      <button class="event-delete">Excluir</button>
                    </div>
                  </div>
                </article>
              </div>
            <% }) %>
          </div>
        </div>
      </main>
      <% } else { %>
      <div class="empty">
        <img src="/img/admin/page.png" height="60" alt=""><br>
        <h2>Nenhuma página importada ainda.</h2>
        <p style="margin-top: 4px;">Você precisa adicionar uma conta para ver as suas páginas.</p>
        <button style="padding: 13px 50px !important; margin-top: 30px;" class="event" id="btn-open"><a href="/platform/accounts">Adicionar conta</a></button>
      </div>
      <% } %>

      <!-- ! Footer -->
      <%- include('../partials/footer-platform') %>
    </div>
  </div>


<!-- Chart library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Icons library -->
<script src="js/admin/feather.min.js"></script>
</body>
</html>

<script>
  function viewPages() {
    const id_account = document.querySelector('#accounts')
    selectValue = id_account.value

    window.location.href = "/platform/pages/" + selectValue;
  }  
</script>